<div [class]="className" class="wrap-modal" #wrapModel data-close="true">
  <div class="myModal">
    <div class="header">
      <div></div>
      <div class="btns-func">
        <button class="customBtn">
          <i class="icon-unlock-filled"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span
          ></i>
        </button>

        <div class="watchCount">
          <button class="customBtn">
            <i class="icon-watch"
              ><span class="path1"></span><span class="path2"></span
              ><span class="path3"></span
            ></i>
          </button>
          <span class="count">1</span>
        </div>

        <button class="customBtn">
          <i class="icon-like"
            ><span class="path1"></span><span class="path2"></span
          ></i>
        </button>

        <button class="customBtn">
          <i class="icon-share"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span><span class="path4"></span
          ></i>
        </button>

        <button class="customBtn">
          <i class="icon-more"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span><span class="path4"></span
          ></i>
        </button>

        <button class="customBtn" data-close="true">
          <i class="icon-cross" data-close="true"
            ><span class="path1" data-close="true"></span
            ><span class="path2" data-close="true"></span
          ></i>
        </button>
      </div>
    </div>

    <div class="body">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, nesciunt?
      </h1>
    </div>
  </div>
</div>
