<div class="aui-tabs horizontal-tabs">
  <ul class="tabs-menu">
    <li class="menu-item active-tab">
      <a href="#tabs-example-first">Tab 1</a>
    </li>
    <li class="menu-item">
      <a href="#tabs-example-second">Tab 2</a>
    </li>
  </ul>
  <div class="tabs-pane active-pane" id="tabs-example-first">
    <h2>This is tab 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="tabs-pane" id="tabs-example-second">
    <h2>This is tab 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

<input
  #datePicker
  class="aui-date-picker"
  id="demo-range-1"
  type="date"
  max="2012-01-25"
  min="2011-12-25"
/>

<form class="aui">
  <select id="select2-example" multiple>
    <option value="CONF">Confluence</option>
    <option value="JIRA">JIRA</option>
    <option value="BAM">Bamboo</option>
    <option value="JAG">JIRA Agile</option>
    <option value="CAP">JIRA Capture</option>
    <option value="AUI">AUI</option>
  </select>
</form>

<h5>Small spinner</h5>
<aui-spinner size="big"></aui-spinner>

<span class="aui-icon aui-icon-small aui-iconfont-activity"
  >Insert meaningful text here for accessibility</span
>

<span class="aui-icon aui-icon-large aui-iconfont-successful-build success"
  >Insert meaningful text here for accessibility</span
>

<form class="aui">
  <fieldset class="group">
    <legend><span>Radio buttons</span></legend>
    <div class="radio">
      <input
        class="radio"
        type="radio"
        checked="checked"
        name="radiobuttons"
        id="radioButtonOne"
      />
      <label for="radioButtonOne">Save as a blog post</label>
    </div>
    <div class="radio">
      <input
        class="radio"
        type="radio"
        name="radiobuttons"
        id="radioButtonTwo"
      />
      <label for="radioButtonTwo">Save as a page</label>
    </div>
    <div class="radio">
      <input
        class="radio"
        type="radio"
        name="radiobuttons"
        id="radioButtonThree"
      />
      <label for="radioButtonThree">Save to your drafts</label>
    </div>
  </fieldset>
</form>

<form class="aui">
  <fieldset>
    <div class="field-group">
      <label for="ffi1">Fancy File Input</label>
      <label class="ffi" data-ffi-button-text="Загрузить файл">
        <input
          type="file"
          id="ffi1"
          name="ffi1"
          aria-label="Fancy File Input"
          (change)="upload($event)"
        />
      </label>
    </div>
  </fieldset>
</form>

<pre>
  {{ file[0]?.name | json }}
</pre>

<form class="aui">
  <div class="field-group">
    <input type="text" class="text" />
    <div class="error">Error message here</div>
  </div>
</form>

<aui-label for="my-toggle">Click here to toggle</aui-label>
<aui-toggle label="toggle button" id="my-toggle"></aui-toggle>

<ol class="aui-progress-tracker">
  <li class="aui-progress-tracker-step" style="width: 25%">
    <span>Configure instance</span>
  </li>
  <li class="aui-progress-tracker-step" style="width: 25%">
    <span>Select plugins</span>
  </li>
  <li class="aui-progress-tracker-step" style="width: 25%">
    <span>Invite users</span>
  </li>
  <li
    class="aui-progress-tracker-step aui-progress-tracker-step-current"
    style="width: 25%"
  >
    <span>Confirm</span>
  </li>
</ol>

<hr />

<aui-progressbar id="with-attributes" value="5" max="100"></aui-progressbar>

<!-- <a
  id="simple-tooltip"
  href="https://example.com/"
  title="This is a simple tooltip"
  >tooltip</a
> -->

<hr />

<a id="custom-tooltip" href="https://example.com/">Custom tooltip</a>
