<div class="MainEl">
  <div cdkDropListGroup class="drag-row">
    <div
      class="dranDropColumn"
      *ngFor="let column of boardService.getBoard$() | async; let idx = index"
    >
      <app-drag-drop-column
        [column]="column"
        [idx]="idx"
      ></app-drag-drop-column>
    </div>

    <button (click)="addColumn($event)" *ngIf="canAddItem" class="addColumns">
      <i class="icon-add"
        ><span class="path1"></span><span class="path2"></span
      ></i>
    </button>
  </div>
</div>
