.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} //chengesdfsd

h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.column-container {
  width: 300px;
  max-width: 100%;
  // margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.list {
  border-radius: 2px;
}

.list-item {
  margin: 10px;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list {
  height: 100%;
  margin: 0 0 5px 0;
}

a {
  text-decoration: none;
  color: dodgerblue;
}
// .mat-card-header-text {
//   width: 100% !important;
// }

// .mat-card-header {
//   width: 100% !important;
// }
/* 655555555555555555555555555555555555555555 */

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0.01, 0.02, 0.03, 0.04) !important;
}
// *************************************

.column-container {
  background-color: #f4f5f7;
  border-radius: 10px;
}

.todyBody {
  cursor: pointer;
  margin: 5px;
  padding: 12px;
  border-radius: 3px;
  box-shadow: var(
    --ds-shadow-raised,
    0 1px 1px rgba(23, 43, 77, 0.2),
    0 0 1px rgba(23, 43, 77, 0.2)
  );
  transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s;
  background-color: var(--ds-surface-raised, #ffffff);
  color: var(--ds-text, #172b4d);
}
.todyBody:hover {
  background-color: var(--ds-background-neutral-subtle-hovered, #f4f5f7);
}
.drotText {
  color: #000;
}
.rowItem {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-bottom: -10px;
}
.rowItem1 {
  display: flex;
}

.colorChe {
  &::before {
    font-size: 18px;
    color: #4bade8;
  }
}
.colorTextMs {
  color: #000 !important;
  margin-left: 6px;
}
.aui-avatar-imageRadius {
  border-radius: 50% !important ;
  width: 22px;
  height: 22px;
}

.dropTitleText {
  color: #969da8;
  font-size: 18px;
  padding-left: 8px !important;
}
.splitBROP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 6px 6px 0 0;
  position: sticky;
  top: 0;
  background: #f4f5f7;
  z-index: 1;
}

.customMoreBtn {
  opacity: 0 !important;
  // transition: all 0.2;

  & .aui-icon:before {
    // font-size: 22px;
  }
}
.splitBROP:hover .customMoreBtn,
.todyBody:hover .customMoreBtn {
  opacity: 1 !important;
  // transition: all 0.2;
}

.columnAddEndItem {
  width: 100%;
  text-align: start;
}

.iconColorsPlus {
  color: #6e7a8f;
}
.pTextIcons {
  font-size: 16px;
  margin-left: 5px;
  color: #6e7a8f;
}
.btnIcons {
  border: none;
  background-color: #f4f5f7;
}

.MainEl:hover {
  opacity: 1;
}

.MainEl:hover .flexItem2 {
  opacity: 1;
  transition: all 0.2s;
}

.flexItem2 {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 17px;
  cursor: pointer;
  padding-top: 10px;
  margin-top: -10px;
  opacity: 0;
}
.flexItem2:hover {
  background-color: rgb(223, 217, 217);
}
.flexItem2:hover .btnIcons2 {
  background-color: rgb(223, 217, 217);
}

.btnIcons2 {
  border: none;
  background-color: #f4f5f7;
  width: 18px;
  margin-top: -15px;
  margin-right: 7px;
}

.mainDivComponents {
  display: flex;
}
.fwss {
  font-weight: 100 !important;
}
.addColumns {
  border: none;
  margin-left: -10px;
  cursor: pointer;
}

.list {
  height: 100%;
}

// New ----------------------------

.bgColorItems {
  background-color: #f4f5f7;
  border-radius: 6px;
}

.MainEl {
  display: flex;
}

.drag-row {
  display: flex;
}

.drag-column {
  margin-right: 1rem;
  width: 270px;
}

.borderItems2 {
  width: 100%;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.titleChangeBlock {
  position: relative;
}

.columnTitleBorder {
  border-radius: 3px;
  width: 100%;
  height: 40px;
  border: 2px solid #4c9aff !important;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btnRowItems {
  position: absolute;
  right: 0;
  z-index: 1;
}
.itemsBtnItems {
  background-color: rgb(221, 221, 221);
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
.itemsBtnItems:hover {
  background-color: rgb(194, 194, 194);
}
.iconsItemsSize {
  color: rgb(58, 58, 99);
  font-size: 20px;
}

.modalDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  // width: 100%;
  // height: 100%;
  position: absolute;
  background-color: #e7e7e7;
}

.filterFlugsItem {
  color: #253858;
  background-color: #f4f5f7;
  border-radius: 3px;
  margin-right: 8px;
  padding: 0 4px;
  font-size: 14px;
}
.itemFlags {
  display: flex !important;
  margin-bottom: 8px;
}

.mat-card-title {
  margin-bottom: 8px !important;
}

.MainEl .mat-card-actions,
.MainEl .mat-card-content,
.MainEl .mat-card-subtitle {
  margin-bottom: 8px;
}

.addTask {
  padding: 0 5px;
}

.styleBorder {
  width: 100%;
  height: auto;
  padding: 12px;
  border: 2px solid #4c9aff;
  background: #fff;
  border-radius: 3px;
}

.textareaItemStyle {
  width: 100%;
  max-height: 40px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 14px;
  color: #172b4d;
  resize: none;
}

.btnIcon {
  padding: 0 0 0 4px;
  height: 24px;
}
