<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label><h3 style="color: red">New Column</h3></mat-label>
    <input matInput [(ngModel)]="newColumnText" />
  </mat-form-field>
</div>

<div class="container-fluid MainEl" (click)="enableAddCartPanel()">
  <div cdkDropListGroup class="drag-row">
    <div
      class="drag-column"
      *ngFor="let column of boardService.getBoard$() | async; let idx = index"
    >
      <div class="bgColorItems">
        <div class="splitBROP">
          <input
            *ngIf="!column.title; else title"
            type="text"
            name="columnTitle"
            #focus
            (change)="setTitle($event, column.id)"
          />

          <ng-template #title>
            <p class="dropTitleText">
              {{ column.title }} {{ column.list.length }} задачи
            </p>
          </ng-template>

          <div class="aui-buttons">
            <button
              class="aui-button aui-dropdown2-trigger aui-button-split-more aui-button-primaryItem"
              [attr.aria-controls]="'split-container-dropdown' + idx"
            >
              Split more
            </button>
          </div>

          <aui-dropdown-menu [id]="'split-container-dropdown' + idx">
            {{ column.id }}
            <aui-item-link (click)="onDeleteColumn(column.id)"
              >delete column</aui-item-link
            >
            <aui-item-link>Menu item 2</aui-item-link>
            <aui-item-link>Menu item 3</aui-item-link>
          </aui-dropdown-menu>

          <!-- <button
            mat-button
            [matMenuTriggerFor]="menu"
            style="background-color: red"
          >
            Menu
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDeleteColumn(column.id)">
              delete column
            </button>
            <button mat-menu-item>Item 2</button>
          </mat-menu> -->
        </div>

        <!-- create new cart -->

        <!-- create new cart -->

        <div
          cdkDropList
          [cdkDropListData]="column.list"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- <div cdkDrag class="example-box" *ngFor="let item of column.list">
            <div>{{ item.text }}</div>
            <button
              mat-icon-button
              class="icon-delete"
              (click)="onCardDelete(item.id, column.id)"
            >
              <mat-icon style="font-size: 18px">delete</mat-icon>
            </button>
          </div> -->

          <mat-card
            *ngFor="let item of column.list; let idx2 = index"
            cdkDrag
            class="todyBody example-box"
          >
            <mat-card-header>
              <mat-card-title class="drotTextItems">
                <div class="d-flex justify-content-between">
                  <div class="">
                    <mat-card-title class="drotText">{{
                      item.text
                    }}</mat-card-title>
                  </div>
                  <div class="dropMenu">
                    <div class="aui-buttons">
                      <button
                        class="aui-button aui-dropdown2-trigger aui-button-split-more aui-button-primaryItem"
                        [attr.aria-controls]="
                          'split-container-dropdown' + idx + idx2
                        "
                      >
                        Split more
                      </button>
                    </div>

                    <aui-dropdown-menu
                      [id]="'split-container-dropdown' + idx + idx2"
                    >
                      {{ column.id }}
                      <aui-item-link (click)="onCardDelete(item.id, column.id)"
                        >delete column</aui-item-link
                      >
                      <aui-item-link>Menu item 2</aui-item-link>
                      <aui-item-link>Menu item 3</aui-item-link>
                    </aui-dropdown-menu>

                    <!-- <div class="dropMenu">
                      <button class="aui-button aui-button-split-main">
                        <span class="aui-icon aui-icon-small aui-iconfont-more"
                          >Insert meaningful text here for accessibility</span
                        >
                      </button>
                      <ul class="menu">
                        <li (click)="onCardDelete(item.id, column.id)">
                          Удалить
                        </li>
                      </ul>
                    </div> -->

                    <!-- <input
                      class="inputMenu"
                      [id]="'check' + idx + idx2"
                      type="checkbox"
                      name="menu"
                    />
                    <label class="lebelMenu" [attr.for]="'check' + idx + idx2">
                      <span class="aui-icon aui-icon-small aui-iconfont-more"
                        >Insert meaningful text here for accessibility</span
                      >
                    </label>
                    <ul class="submenu">
                      <li (click)="onCardDelete(item.id, column.id)">
                        <a href="#">Удалить</a>
                      </li>
                      <li><a href="#">Item 2</a></li>
                    </ul> -->
                  </div>
                </div>
              </mat-card-title>

              <mat-card-subtitle class="bbg">
                <div class="rowItem">
                  <div class="rowItem1">
                    <div class="checkbox">
                      <span
                        class="aui-icon aui-icon-small aui-iconfont-checkbox colorChe"
                        >Insert meaningful text here for accessibility</span
                      >
                      <label for="checkBoxOne " class="colorTextMs"
                        >MSB-8</label
                      >
                    </div>
                  </div>

                  <img
                    src="../../../assets/images/jpg.svg"
                    alt="Person McRealface"
                    class="aui-avatar-imageRadius"
                  />
                </div>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>

        <!-- -- -->
        <div
          *ngIf="boardService.modaleId !== column.id && idx === 0"
          class="flexItem1 columnAddEndItem"
          (click)="onAddCard(column.id, $event)"
        >
          <button class="btnIcons">
            <span
              class="aui-icon aui-icon-small aui-iconfont-add iconColorsPlus"
              >Insert meaningful text here for accessibility</span
            >
          </button>
          <p class="pTextIcons">Create notes</p>
        </div>
        <!-- ------- -->
        <div
          *ngIf="boardService.modaleId !== column.id && idx !== 0"
          class="flexItem2 columnAddEndItem"
          (click)="onAddCard(column.id, $event)"
        >
          <button class="btnIcons2">
            <span
              class="aui-icon aui-icon-small aui-iconfont-add iconColorsPlus"
              >Insert meaningful text here for accessibility</span
            >
          </button>
          <p class="pTextIcons">Create notes</p>
        </div>

        <div *ngIf="boardService.modaleId === column.id" (click)="stPr($event)">
          <input type="textarea" matInput [(ngModel)]="newCartText" />
          <button (click)="onAddCards(column.id, $event)">
            Создать задачу
          </button>
        </div>
      </div>
      <!-- ---- -->
    </div>
    <!-- -- -->
    <!-- <div class="flexItem1">
      <button class="btnIcons">
        <span class="aui-icon aui-icon-small aui-iconfont-add iconColorsPlus"
          >Insert meaningful text here for accessibility</span
        >
      </button>
      <p class="pTextIcons">Create notes</p>
    </div>

    <div class="flexItem2" (click)="onAddCard(column.id)">
      <button class="btnIcons2">
        <span class="aui-icon aui-icon-small aui-iconfont-add iconColorsPlus"
          >Insert meaningful text here for accessibility</span
        >
      </button>
      <p class="pTextIcons">Create notes</p>
    </div> -->
    <!-- ---- -->
    <div (click)="addColumn()">
      <button class="addColumns">
        <span class="aui-icon aui-icon-large aui-iconfont-add fwss"></span>
      </button>
    </div>
    <!--  -->
  </div>
</div>
