/* You can add global styles to this file, and also import other style files */
@import "~@atlassian/aui/dist/aui/aui-prototyping.css";
@import "~@atlassian/aui/dist/aui/aui-prototyping-browserfocus.css";
@import "~@atlassian/aui/dist/aui/aui-prototyping.nodeps.css";

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

p {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.aui-page-panel {
  height: calc(100vh - 187px);
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(42, 61, 116, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(32, 60, 103, 0.61);
    border-radius: 5px;
  }
}

.mat-card-header-text {
  width: 100% !important;
  margin: 0 !important;
}

.dropMenu {
  position: relative;
}

/*hide the inputs/checkmarks and submenu*/
.inputMenu,
ul.submenu {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
}

.submenu {
  min-width: 160px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px var(--aui-shadow2), 0 0 1px var(--aui-shadow2);
  padding: 3px 0;
  margin: 0;
  z-index: 10;

  li {
    list-style: none;
    padding: 5px 10px;
    width: 100%;
    &:hover {
      background: #ccc;
    }
    a {
      color: rgb(14, 14, 14);
    }
  }
}

/*position the label*/
.lebelMenu {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0;

  .aui-icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #ccc;
    &::before {
      color: rgb(14, 14, 14);
    }
  }
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
  display: block;
}
